<div class="main-div">
  <h2 style="color: darkorange;">Please choose origin and destination</h2>
  <div class="col-sm-12">

    <label class="control-label">
      Origin:
    </label>
    <select [(ngModel)]="routeSearchParam.Origin" style="border:1px solid #02416e;" placement="top" id="originId" name="originId"
      style="width: 30%">
      <option *ngFor="let x of Airports" [value]="x.IATA3">{{x.IATA3 + ' (' + x.Name + ')'}}</option>
    </select>

    <label class="control-label">
      Destination:
    </label>
    <select [(ngModel)]="routeSearchParam.Destination" style="border:1px solid #02416e;" placement="top" id="destinationId"
      name="destinationId" style="width: 30%">
      <option *ngFor="let x of Airports" [value]="x.IATA3">{{x.IATA3 + ' (' + x.Name + ')'}}</option>
    </select>

  </div>
  <br>
  <br>
  <div style="padding-left: 30%;">
      <label style="font-weight: bold;" *ngIf="!Airports">Loading Airports... Please wait!</label>
    </div>
  <div style="padding-left: 30%;">
    <button value="Search" (click)="SearchRoute()" *ngIf="Airports">Search Route</button>
  </div>
  <div class="result-div" *ngIf="result!=''">
      <label style="color: darkorange;" class="control-label">
          Search Result:
        </label>
        <br>
        <br>
    {{result}}
  </div>
  <div class="error-div" *ngIf="errorMsg!=''">
      <label class="control-label">
          Error:
        </label>
        <br>
        <br>
    {{errorMsg}}
  </div>
</div>